---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const lhVideo = "@media/magnetic-text.mp4"
const buttonsEffects =  await Astro.glob("../content/effects/*.mdx")

---
<Layout title="Cards effects">
    <section class="card-layout">
        {buttonsEffects.map((button)=>{
            return <Card card={button}></Card>
        })}
    </section>
</Layout>

<style>

</style>

<script>

</script>
