---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const lhVideo = "../public/Videos/magnetic-text.mp4"
---
<Layout title="Cards effects">
    <section class="card-layout">
        <Card videoURL={lhVideo} title="Light hover" componentLink="light-hover" description="A spotlight effect that follows the cursor and highlights contents on element hover. "/>
        <Card videoURL={lhVideo} title="Light hover" description="A spotlight effect that follows the cursor and highlights contents on element hover. "/>
    </section>
</Layout>

<style>

</style>

<script>

</script>
