---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cards effects">
    <section class="card-layout">
        <Card title="Light hover"/>
        <Card title="Twitch card" />
    </section>
</Layout>

<style>

</style>

<script>

</script>
