---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cards effects">
    <section class="card-layout">
        <Card title="Text up"/>
        <Card title="Text down" />
        <Card title="Text left" />
        <Card title="Text right" />
    </section>
</Layout>

<style>

</style>

<script>

</script>
