---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cards effects">
    <section class="card-layout">
        <Card title="Wavy loader"/>
        <Card title="Simple loader" />
        <Card title="Gradient loader" />
    </section>
</Layout>

<style>

</style>

