---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cards effects">
    <section class="card-layout">
        <Card title="Full screen menu"/>
        <Card title="Elegant menu" />
    </section>
</Layout>