---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Cards effects">
    <section class="card-layout">
        <Card title="Circle mouse"/>
    </section>
</Layout>

<style>

</style>


