---
const {title} = Astro.props
---
<div class="card">
    <div class="card-title">
        <h1>{title}</h1>
    </div>
    <hr>
    <div class="card-body">
        <slot/> 
    </div>
</div>
<style>
    .card {
        background-color: var(--surface-50);
        border-radius: 10px;
        cursor: pointer;
        border: 1px solid rgba(255, 255, 255, 0.4);
        position: relative;
        height: 500px;
        width: 350px;
        padding: 30px;
        flex-grow: 1;
        flex-basis: 20%;
        box-shadow: 7px 5px 5px rgba(245, 245, 245, 0.463);
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 10px;
    }
    .card-title{
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-body{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>